.header,
.links {
    font-family: "Helvetica", "Times New Roman", sans-serif;
}


.header {
    background-color: red;
    color: black;
    text-align: center;
}

.links {
    font-size: 20px;
    background-color: pink;
}